body {
    margin: 0px;
    padding: 5px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    display: block;
}
/*
副标题的位置样式
 */
table {
    font-weight: normal;
    background-color: #F9FCF3;
    border: 1px solid #7cb4f7;
}
table {
    display: table;
    border-collapse: separate;
}
.nobord td {
    border-width: 0px!important;
}
.tablem td {
    border: 1px solid #7cb4f7;
}
td {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    line-height: 150%;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
img{
    width: 22px;
    height: 21px;
    vertical-align: middle;
}
.link {
    border: 1px solid #7cb4f7;
    font-size: 12px;
    font-weight: normal;
    line-height: 130%;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
}
.name2,.name4,.name6,.name8{
    margin-left: 50px;
}
.item1{
    text-align: center;
    margin-left: 19px;
}
.item7{
    text-align: center;
    margin-left: 29px;
}
.item3,.item5{
    text-align: center;
}
.item2,.item4{
    text-align: center;
    margin-left: 3px;
}
.item6{
    text-align: center;
    margin-left: 18px;
}
.item8{
    text-align: center;
}
.chartstyle{
    height: 80%;
}